*{
    font-family: 'Jost', sans-serif;
    padding: 0;
    margin: 0 auto;
}

.register{
    margin-top: 20px;
    background-color: #ffffff;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    justify-content: center;
    text-align: center;
    align-items: center;
}

.register_form{
    padding: 0 4vw;
    font-size: 1.5rem;
}

.titletxt>u{
    text-decoration: underline;
    text-decoration-color: #14ff00;
    font-weight: 900;
}

.gambar{
    height: 100vh;
}

.title{
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
}

.register {
    font-size: 16px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-weight: 600;
}

.register_form span{
    font-weight: 600;
    font-size: 16px;
}

.register_form .data>input{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70%;
    height: 30px;
    background-color: #ffffff;
}

.reg_button {
    font-style: normal;
    height: auto;
    width: 200px;
    background-color: #98ff9d;
    border: none;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    padding: 1rem 2rem 1rem 2rem;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 900;
}

.reg_button{
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}